:root {
  --black: #252525;
  --white: #efefed;
  --yellow: #ffb719;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 1.5rem 3rem;
  background-color: #333;
  user-select: none;
  font-family: Optima, sans-serif;
  z-index: 20;
}

nav img {
  position: relative;
  height: 6rem;
  z-index: 1;
}

nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative;
  list-style: none;
}

nav ul li a {
  display: block;
  font-size: 2rem;
  padding: 1rem;
  text-decoration: none;
  color: #efefed;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 2rem;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

nav ul li a:hover {
  color: #252525;
  z-index: 1;
}

nav ul li a {
  position: relative;
}

@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #aaa;
  }
}

nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav ul li a {
  transition: all 2s;
}

nav ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}

nav ul li a.active,
nav ul li a:hover {
  background-color: #aaa;
  color: #252525;
  z-index: 1;
}

nav ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

nav .menu-btn__burger,
nav .menu-btn {
  display: none;
}

.menu-btn__burger {
  width: 3rem;
  height: 0.5rem;
  background: #fff;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.5rem;
  background: #fff;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-1rem);
}

.menu-btn__burger::after {
  transform: translateY(1rem);
}
.menu-btn.open .menu-btn__burger {
  transform: translateX(-4.5rem);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(3.5rem, -3.5rem);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(3.5rem, 3.5rem);
}

.menu-btn__burger {
  color: #fff;
  margin-right: 1rem;
  margin-bottom: 2rem;
  transition: 0.6s;
}
main {
  width: 95%;
  padding-top: 9.2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
}
main h1 {
  text-align: center;
  font-size: 3.5rem;
  margin: 1rem 0;
}
main h2 {
  text-align: center;
  font-size: 2.5rem;
  margin: 0.8rem 0;
}
main p {
  text-align: center;
  font-size: 2rem;
  margin: 0 40px;
}

main #images {
  width: 100%;
  display: grid;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  grid-gap: 20px;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

main #images .container {
  position: relative;
}

main #images .container img {
  width: 100%;
  display: block;
}

main #images .container h3 {
  display: flex;
  justify-content: center;
  line-height: 2rem;
  font-size: 1.8rem;
  margin-top: 1.5rem;
}

main .form {
  width: 70vw;
  top: 0;
  left: 0;
  margin: 0 auto;
}

main #submit {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  color: #333;
  background-color: #aaa;
  border-radius: 15px;
  border: solid;
  height: 170px;
  width: 330px;
  opacity: 0;
  transition: opacity 0.4s;
}

main #submit .text {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

main #submit.active {
  opacity: 1;
  display: block;
}

main #submit button {
  width: fit-content;
  background-color: #333;
}

main #submit button:hover {
  background-color: #111;
}

main table {
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 80vw;
  font-size: 1.8rem;
  border-collapse: collapse;
}

main table,
th,
td {
  border: 2px solid;
}

main th,
td {
  padding: 15px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  font-size: 2rem;
  padding: 12px 12px 12px 0;
  display: inline-block;
}

textarea {
  height: 200px;
}

main button {
  background-color: #333;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

main button:hover {
  transition: 0.6s;
  background-color: #aaa;
}

main .button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: #333;
}

footer .kontakty {
  display: flex;
  width: 100%;
  height: auto;
}

footer .kontakt {
  margin: 10px 20px;
  width: 33.3%;
}

footer .kontakt p {
  font-size: 1.8rem;
}

footer .kontakt .icons {
  display: inline-block;
  color: var(--white);
  transform: scale(3);
  margin: 10px 20px;
  cursor: pointer;
  transition: 0.6s;
}

footer p {
  color: #efefed;
  font-size: 1.5rem;
  margin: 1rem;
}

footer .social-media .icons {
  display: inline-block;
  color: var(--white);
  margin: 25px 35px;
  transform: scale(4);
  cursor: pointer;
  transition: 0.6s;
}

footer .social-media .icons:hover {
  color: #777;
  transform: scale(6);
}

footer .kontakt .icons:hover {
  color: #777;
}

@media screen and (max-width: 992px) {
  nav .menu-btn__burger {
    display: flex;
    cursor: pointer;
  }
  nav .menu-btn {
    position: absolute;
    right: 1rem;
    top: 5.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    width: 4.5rem;
    height: 4.5rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;
  }
  nav ul {
    width: 100%;
    flex-direction: column;
    height: 0;
    top: -30rem;
    opacity: 0;
    transition: 0.7s;
  }
  nav ul li {
    display: flex;
    color: #777;
    font-size: 4vh;
  }
  nav ul li a {
    margin: 0.3rem 1rem;
  }
  nav ul.active {
    opacity: 1;
    height: 100vh;
    width: 100%;
    top: -4.9rem;
    transition: 0.7s;
  }
}
@media screen and (max-width: 993px) {
  body {
    padding-bottom: 270px;
  }
}
@media screen and (max-width: 829px) {
  body {
    padding-bottom: 294px;
  }
}
@media screen and (max-width: 768px) {
  body {
    padding-bottom: 372px;
  }
  .col-25,
  .col-75,
  main button {
    width: 100%;
    margin-top: 0;
  }
  footer .kontakty {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .kontakt {
    margin: 0px 40px;
  }
}
@media screen and (max-width: 530px) {
  body {
    padding-bottom: 396px;
  }
}
@media screen and (max-width: 478px) {
  body {
    padding-bottom: 542px;
  }
}
@media screen and (max-width: 387px) {
  body {
    padding-bottom: 566px;
  }
}
